<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Entrar no petindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item no-padding>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Endereço de email" type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input placeholder="Senha" type="password" formControlName="senha"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" margin-top>Entrar</ion-button>
  </form>

  <ion-button fill="clear" size="small">Esqueceu a sua senha?</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="light" fill="clear" expand="full" href="/create-account">Criar uma nova conta do Petindo</ion-button>
  </ion-toolbar>
</ion-footer>